<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
</head>

<body>
  <!-- <div class="header">
    <h2>MY TEST</h2>
    <img class="logo1" src="../../../assets/icon/jeringuilla.svg">
  </div> -->
  <div class="title1">
    <div class="row">
      <div class="col-6">
        <h1 class="mb-0 titles"> PLAN NACIONAL<br> DE VACUNACIÓN <br> <b>COVID-19</b></h1>
      </div>
      <div class="col-6">
        <img class="logo"
          src="https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Vacunas-para-Chile/images/logo_ymv.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <div class="formularioClient">
        <h1>Ingresa datos</h1>
        <form class="example-form" [formGroup]="formRut" novalidate>
          <div class="col-12">

            <mat-form-field class="example-full-width">
              <mat-label>Rut</mat-label>
              <input matInput placeholder="Ingresa tu RUT" formControlName="rut" validateRut formatRut required>
              <mat-error *ngIf="formRut.controls['rut'].errors?.required">
                Debes ingresar un <span>RUT válido</span> para continuar
              </mat-error>
              <mat-error *ngIf="formRut.controls['rut'].errors?.invalidRut && !formRut.controls['rut'].errors?.required">
                El <span>RUT</span> ingresado no es válido
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col-12">

            <mat-form-field class="example-full-width">
              <mat-label>Serie</mat-label>
              <input matInput placeholder="Ingresa tu Serie" formControlName="serie" required>
              <mat-error *ngIf="formRut.controls['serie'].errors?.required">
                Debes ingresar una <span>Serie válida</span> para continuar
              </mat-error>
            
            </mat-form-field>


    

          </div>

          <div class="col-12" >

            <div class="consultarButton">

              <button mat-button color="primary" [disabled]="!formRut.valid"
            (click)="continuar(formRut)">Consultar</button>

            </div>

            
          </div>
          

          

          
        </form>
      </div>
    </div>

    <div class="col-6">
      <div class="tablaConsulta" *ngIf="estado === '200'">
        <h1>Resultado</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Dosis</th>
              <th scope="col">Vacuna</th>
              <th scope="col">Lugar</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 1</td>
              <td>{{ dosis.dosis1.vacuna }}</td>
              <td>{{ dosis.dosis1.centro }}</td>
              <td>{{ dosis.dosis1.fecha }}</td>
            </tr>

            <tr>
              <td> 2</td>
              <td>{{ dosis.dosis2.vacuna }}</td>
              <td>{{ dosis.dosis2.centro }}</td>
              <td>{{ dosis.dosis2.fecha}}</td>
            </tr>
           
    
          </tbody>
        </table>

      </div> 

      

      <div *ngIf="estado === '400'">

        <div class="formularioClient">
          <h2>Ud. no posee registros de vacunación</h2>

          <img class="logo"
          src="../../../assets/icon/warning.svg">
          
        </div>
        

      </div>
    </div>
  </div>
</body>

</html>








<!-- 
      <button class="btn btn-primary">Holio</button> -->
