.title1 {
  height: 220px;
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 0.32);
}


.logo {
  max-width: 100%;
  height: 57%;
}

h1 {
  font-size: 275%;
  color: black;
  margin-top: 5%;

}



.header {

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 0.32);
  /* background-color: $bg-color; */
  padding: 20px;

  /* height: 30px; */


}

.logo1 {
  height: 30px;
}

.video {
  padding: 10%;
}

body {
  overflow-x: hidden;
}


.formularioClient {

  padding: 4%;
  border: 2px solid #1abc9c;
  position: absolute;
  margin-left: 4%;
  margin-top: 2%;
  box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 0.32);
  text-align: center;
  height: 53%;

}

.tablaConsulta {

  padding: 1%;
  border: 2px solid #1abc9c;
  position: absolute;
  margin-left: -6%;
  margin-top: 2%;
  box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 0.32);
  width: 53%;

}

button {
  background: #1abc9c;
  color: aliceblue;
}

.consultarButton {
  text-align: center;
}

